@model Archery.Models.HomeIndexViewModel
@using Archery.Helpers;

<h3> Bienvenue Prochain Tournois des Armes</h3>


<ul class="row">

    @foreach (var item in Model.Tournaments)
    {
        <li class="col-xs-4">
            <div class="table table-condensed table-hover" style="border-style: outset;">
                <div class="thumbnail">
                    @if (item.Pictures?.Count() > 0)
                    {
                        @Html.PictureTournament(item.Pictures.First(), "img-circle")
                    }
                    <h4><strong>Nom: </strong> @item.Name </h4>
                    <br />
                    <strong>Location: </strong> @item.Location
                    <br />
                    <strong>Date Debut:</strong> @item.StartDate.ToString("ddd dd MMM yyyy")
                    <br />

                    <p>
                        <a href="@Url.RouteUrl("DetailTournament", new { id=item.ID, name = item.Name })" class="btn btn-success" role="button">Voir les détails </a>
                        <a href="@Url.Action("create","shooters", new { id=item.ID, name = item.Name })" class="btn btn-primary" role="button">S'inscrire</a>
                    </p>

                </div>    
            </div>
        </li>
     }
</ul>

                   
                